


{% extends 'layout.html' %}

<html>
<head>
    <title>About Us</title>
</head>
<body>
{% block content %}
    {% include 'nav.html' %}
    <h1>About Us</h1>
    <table>
        {%for i in member_list%} 
        <!-- {'name':'Muhuan Lyu','role':'CEO','linkedin':'https://www.linkedin.com/in/yunhe-j-380651172/','profile':'yunhe.png'} -->
            <tr>
                <td><img src="{{i['profile']}}" width="100", height="100"></td>

                <td style="font-family:Verdana, sans-serif">
                    {{i['name']}}<br>
                    {{i['role']}} <br><br>
                    LinkedIn: <a href="{{i['linkedin']}}">{{i['linkedin']}}</a>
                </td>
            </tr>
        {%endfor%}
        </table>
{% endblock %}
</body>
</html>