{% extends 'layout.html' %}

<html>
<head>
    <title>dontbuy</title>
</head>
<body>
{% block content %}
    <h1 class="mt-4">Don't Buy Them</h1>
    <p>dontbuy here :)</p>
    <div class="container-fluid">
        <div class="container">
            <div class="row ">
                {%for j in items%}    
                    {% if j['score'] <= 6.0%}  
                        <div class="col-lg-4 col-md-12">
                            <a href="{{j['img_address']}}"> 
                            <img src="{{j['img']}}" width="150", height="100" class="rounded float-left" alt="...">
                            </a>
                        </div>
                    {% endif %}
                {%endfor%}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>