
<!DOCTYPE html>
{#{% extends 'layout.html' %}#}
{% extends 'layout.html' %}
{% block content %}

    <div class="container-fluid">
        <h1 class="mt-4">{{product_name}}</h1>
        <h4 class="mt-4">Critic Rating: {{critic_rating}}</h4>
        <h4 class="mt-4">User Rating: {{user_rating}}</h4>
        <h4 class="mt-4">Price Score: {{price_score}}</h4>
<!--        <h4 class="mt-4">Product Name (Get from the original website)(Click pic below goes to its original web)</h4>-->
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-12">
                    <a href="{{original_url}}">
                    <img src="{{product_img_url}}" width="500" height="auto" class="rounded float-left" alt="...">
                    </a>
                </div>
            </div>
        </div>


        <h2 class="mt-4">Price History</h2>
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-12">
                    <img src="{{price_history}}" width="800" height="auto" class="rounded float-left" alt="...">
                </div>
            </div>
        </div>


        <h2 class="mt-4">Traits (radar chart here)</h2>
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-12">
                    <img src="{{radar_chart}}" width="400" height="auto" class="rounded float-left" alt="...">
                </div>
            </div>
        </div>

        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        * {
          box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 35%;
          padding: 10px;
          height: 150px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        </style>
            <title></title>
        </head>
        <body>

        <div class="row">
          <div class="column" style="background-color:#ffffff;">
            <h2>Pros</h2>
                {%for i in pros_list%}
                    <tr>
                        <td style="font-family:Verdana, sans-serif">
                            {{i}}<br>
                        </td>
                    </tr>
                {%endfor%}
          </div>
          <div class="column" style="background-color:#ffffff;">
            <h2>Cons</h2>
                {%for i in cons_list%}
                    <tr>
                        <td style="font-family:Verdana, sans-serif">
                            {{i}}<br>
                        </td>
                    </tr>
                {%endfor%}
          </div>
        </div>

        </body>


        <h2 class="mt-4">Critic Reviews</h2>
        <div class="container">
            <table>
                {%for i in review_list%}
                    <tr>
                        <td style="font-family:Verdana, sans-serif">
                            <b>{{i['publisher']}}</b><br>
                            {{i['abstract']}} <br>
                            <a href="{{i['url']}}">Read More</a>
                        </td>
                    </tr>
                {%endfor%}
                </table>
        </div>

        <h2 class="mt-4">Add Your Review Here</h2>
        <div class="container">
            <div class="input-group rounded">
            <input type="text" class="form-control rounded" placeholder="Type your review here" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}
