{% extends 'layout.html' %}

<html>
<head>
    <title>suggestion</title>
</head>
<body>
{% block content %}
    <h1 class="mt-4">Suggestion</h1>
    <p>suggestion here :)</p>
    <div class="container-fluid">
        <div class="container">
            <div class="text-right", style = "position:relative; left:1050px; top:1.5px">
                <a href="suggestion" class="btn btn-lg float-right" role="button"><u>more</u></a>
            </div>
            <div class="row ">
                {%for j in items%}    
                    {% if j['score'] > 6.0%}  
                        <div class="col-lg-4 col-md-12">
                            <a href="{{j['img_address']}}"> 
                            <img src="{{j['img_address']}}" width="150", height="100" class="rounded float-left" alt="...">
                            </a>
                        </div>
                    {% endif %}
                {%endfor%}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>